<div class="container__big-card">
<a href=" ">
    <div class="big-card__photo">
        <img src="https://media2.dev.to/dynamic/image/width=1000,height=420,fit=cover,gravity=auto,format=auto/https%3A%2F%2Fdev-to-uploads.s3.amazonaws.com%2Fuploads%2Farticles%2Fshcwa40hgffwns0d8jxy.png" 
        alt="" 
        height="200px"
        srcset=""
        >
    </div>
    <div class="big-card__title">
        <h1> Saiu a nova versão do angular</h1>
    </div>
    <div class="big-card__description">
        <p>
            Angular é uma plataforma de aplicações web de código-fonte aberto e 
            front-end baseado em TypeScript liderado pela Equipe Angular do Google e 
            por uma comunidade de indivíduos e
        </p>
    </div>
</a>
</div>