<div class="container__small-card">
    <div class="container__small-card-content">
        <a href=" ">
        <div class="small-card__photo">
            <img src="https://acdn.mitiendanube.com/stores/001/776/325/products/homem-aranha-digital-painel-still1-7c6d8a7721a8ba0e7516754450480051-1024-1024.jpg" 
            alt="" 
            srcset=""
            >
        </div>
        <div class="small-card__title">
            <h1> Saiu a nova versão do angular</h1>
        </div>
    </a>
    </div>
<div class="container__small-card__separator">
    <hr/>
</div>
</div>